<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_site.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @admin_site.url %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @admin_site.avatar %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @admin_site.weight %>
</p>

<%= link_to 'Edit', edit_admin_site_path(@admin_site) %> |
<%= link_to 'Back', admin_sites_path %>
